body{
  margin: 0;
}
h1{
  margin-top: 0;
}
.top-container{
  background-color: #E4F9F5;
  height: 200px;
  width: 200px;
  border: 10px solid;
  padding: 20px;
}
.middle-container{
  background-color: red;
  width: 200px;
  height: 200px;
  border: solid 20px;
  margin-left: 260px;
}
.buttom-container{
  background-color: yellow;
  width: 200px;
  height: 200px;
  border: solid 10px;
  margin-left: 500px;
}
